.input {
  max-width: 244px;
  display: flex !important;
  margin: 0 auto 17px;
  padding-left: 1em;
  font-size: 1em;
  background: #eceff1;
  border-radius: 36px !important;
  height: 43px;
  input {
    background: transparent;
    width: 100%;
  }
}
.button {
  margin-top: 33px;
}
@media screen and(min-width: '767px') {
  .button {
    margin-top: 46px;
  }
  .input {
    height: 50px;
    max-width: 421px;
  }
}
